{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'signup/css/style.css' %} ">
    <title>Sign in</title>
</head>
<body>
    <!-- <header >GeniuSparkle</header> -->
    <div class="auth">
        <div class="signin">
            <h1 class="signin__title">Welcome, Genius!</h1>
            <div class="signin__social">
                <div class="signin__item">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.96621 13.5227V21.6941H13.6187V13.5238H16.3406V10.1437H13.6187V7.94801C13.5729 7.43695 13.7616 6.93271 14.1317 6.57734C14.5019 6.22198 15.0134 6.05395 15.5222 6.12058H17V3.24557C16.1339 3.10406 15.2585 3.02591 14.381 3.01173C13.1585 2.91938 11.9582 3.37567 11.1057 4.25683C10.2533 5.138 9.83696 6.35271 9.96972 7.57154V10.1437H7V13.5227H9.96621Z" fill="#000000"/>
                    </svg>                        
                </div>
                <div class="signin__item">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.956 10.356V13.807H16.748C16.302 16 14.435 17.26 11.956 17.26C9.06851 17.2202 6.74862 14.8682 6.74862 11.9805C6.74862 9.09275 9.06851 6.74072 11.956 6.70098C13.1562 6.69954 14.3194 7.11605 15.246 7.87898L17.846 5.27898C14.8636 2.65705 10.508 2.31981 7.15752 4.45142C3.80707 6.58303 2.26698 10.6712 3.37821 14.4836C4.48943 18.296 7.98491 20.9164 11.956 20.914C16.423 20.914 20.485 17.665 20.485 11.98C20.4781 11.4326 20.411 10.8877 20.285 10.355L11.956 10.356Z" fill="#000000"/>
                    </svg>
                </div>
                <div class="signin__item">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.09398 21.006C8.4652 20.9719 7.87352 20.6977 7.44098 20.24C6.92358 19.7422 6.46186 19.1897 6.06398 18.592C5.44247 17.702 4.95118 16.7279 4.60498 15.699C4.21284 14.5922 4.00639 13.4282 3.99398 12.254C3.96385 11.1019 4.24949 9.96346 4.81998 8.96202C5.23755 8.24012 5.83317 7.63728 6.54998 7.21102C7.25887 6.78659 8.0678 6.55813 8.89398 6.54902C9.5168 6.58587 10.1288 6.72823 10.704 6.97002C11.1625 7.17178 11.6452 7.31362 12.14 7.39202C12.686 7.27763 13.2195 7.11017 13.733 6.89202C14.3406 6.65474 14.984 6.52187 15.636 6.49902C15.723 6.49902 15.809 6.49902 15.892 6.50902C17.3215 6.55048 18.6511 7.25221 19.492 8.40902C18.155 9.12387 17.334 10.5303 17.369 12.046C17.3558 13.1956 17.8351 14.2959 18.686 15.069C19.0689 15.4339 19.5148 15.7262 20.002 15.932C19.902 16.232 19.787 16.522 19.665 16.814C19.3877 17.4593 19.0456 18.0748 18.644 18.651C18.2648 19.2282 17.8235 19.7621 17.328 20.243C16.8756 20.6919 16.2726 20.9567 15.636 20.986C15.0963 20.9621 14.5662 20.8355 14.074 20.613C13.5432 20.3818 12.9728 20.2551 12.394 20.24C11.7989 20.2517 11.2116 20.3777 10.664 20.611C10.191 20.8244 9.68573 20.9572 9.16898 21.004L9.09398 21.006ZM12.244 6.49902C12.169 6.49902 12.094 6.49902 12.019 6.49002C12.0032 6.37099 11.9949 6.25109 11.994 6.13102C12.0267 5.13216 12.4171 4.17826 13.094 3.44302C13.4723 3.0206 13.9309 2.67762 14.443 2.43402C14.9208 2.18802 15.4431 2.04012 15.979 1.99902C15.994 2.13002 15.994 2.25802 15.994 2.38002C15.9798 3.36317 15.6104 4.308 14.954 5.04002C14.3105 5.9028 13.3185 6.43689 12.244 6.49902Z" fill="#000000"/>
                    </svg>
                </div>
                    
            </div>
            <div class="signin__text">or</div>
            <form class="signin__form" action=" {% url 'signup:login' %}" method="POST">
                {% csrf_token %}
                <div class="signin__inputParent">
                    <input name="email" type="text" id="email__signin" class="signin__input" required>
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="signin__inputIcon">
                        <path d="M22 4H2.01L2 20H22V4ZM20 18H4V8L12 13L20 8V18ZM12 11L4 6H20L12 11Z" fill="#8b8b8b"/>
                    </svg>
                    <label for="email__signin" class="signin__label">Email</label>
                </div>
                <div class="signin__inputParent">
                    <input name="password" type="password" id="password__signin" class="signin__input" required>
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="signin__inputIcon">
                        <path d="M12.5 17C13.8063 17 14.875 16.1 14.875 15C14.875 13.9 13.8063 13 12.5 13C11.1937 13 10.125 13.9 10.125 15C10.125 16.1 11.1937 17 12.5 17ZM19.625 8H18.4375V6C18.4375 3.24 15.7775 1 12.5 1C9.2225 1 6.5625 3.24 6.5625 6V8H5.375C4.06875 8 3 8.9 3 10V20C3 21.1 4.06875 22 5.375 22H19.625C20.9313 22 22 21.1 22 20V10C22 8.9 20.9313 8 19.625 8ZM8.81875 6C8.81875 4.29 10.4694 2.9 12.5 2.9C14.5306 2.9 16.1813 4.29 16.1813 6V8H8.81875V6ZM19.625 20H5.375V10H19.625V20Z" fill="#8b8b8b"/>
                    </svg>
                    <label for="password__signin" class="signin__label">Password</label>
                </div>
                <div class="signin__forgotPass">
                    <a>Forgot your password?</a>
                </div>
                <button class="signin__btn">
                    Log In
                    <div class="signin__btnArrow">
                        <svg width="14" height="12" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L14 14L2 26" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </button>
                <small class="signin__gotoMobile">Haven't joined yet? <span>Join Now</span></small>
            </form>
        </div>
        <div class="signup">
            <h1 class="signup__title">Join GeniuSparkle</h1>
            <div class="signup__social">
                <div class="signup__item">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.96621 13.5227V21.6941H13.6187V13.5238H16.3406V10.1437H13.6187V7.94801C13.5729 7.43695 13.7616 6.93271 14.1317 6.57734C14.5019 6.22198 15.0134 6.05395 15.5222 6.12058H17V3.24557C16.1339 3.10406 15.2585 3.02591 14.381 3.01173C13.1585 2.91938 11.9582 3.37567 11.1057 4.25683C10.2533 5.138 9.83696 6.35271 9.96972 7.57154V10.1437H7V13.5227H9.96621Z" fill="#000000"/>
                    </svg>                        
                </div>
                <div class="signup__item">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.956 10.356V13.807H16.748C16.302 16 14.435 17.26 11.956 17.26C9.06851 17.2202 6.74862 14.8682 6.74862 11.9805C6.74862 9.09275 9.06851 6.74072 11.956 6.70098C13.1562 6.69954 14.3194 7.11605 15.246 7.87898L17.846 5.27898C14.8636 2.65705 10.508 2.31981 7.15752 4.45142C3.80707 6.58303 2.26698 10.6712 3.37821 14.4836C4.48943 18.296 7.98491 20.9164 11.956 20.914C16.423 20.914 20.485 17.665 20.485 11.98C20.4781 11.4326 20.411 10.8877 20.285 10.355L11.956 10.356Z" fill="#000000"/>
                    </svg>
                </div>
                <div class="signup__item">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.09398 21.006C8.4652 20.9719 7.87352 20.6977 7.44098 20.24C6.92358 19.7422 6.46186 19.1897 6.06398 18.592C5.44247 17.702 4.95118 16.7279 4.60498 15.699C4.21284 14.5922 4.00639 13.4282 3.99398 12.254C3.96385 11.1019 4.24949 9.96346 4.81998 8.96202C5.23755 8.24012 5.83317 7.63728 6.54998 7.21102C7.25887 6.78659 8.0678 6.55813 8.89398 6.54902C9.5168 6.58587 10.1288 6.72823 10.704 6.97002C11.1625 7.17178 11.6452 7.31362 12.14 7.39202C12.686 7.27763 13.2195 7.11017 13.733 6.89202C14.3406 6.65474 14.984 6.52187 15.636 6.49902C15.723 6.49902 15.809 6.49902 15.892 6.50902C17.3215 6.55048 18.6511 7.25221 19.492 8.40902C18.155 9.12387 17.334 10.5303 17.369 12.046C17.3558 13.1956 17.8351 14.2959 18.686 15.069C19.0689 15.4339 19.5148 15.7262 20.002 15.932C19.902 16.232 19.787 16.522 19.665 16.814C19.3877 17.4593 19.0456 18.0748 18.644 18.651C18.2648 19.2282 17.8235 19.7621 17.328 20.243C16.8756 20.6919 16.2726 20.9567 15.636 20.986C15.0963 20.9621 14.5662 20.8355 14.074 20.613C13.5432 20.3818 12.9728 20.2551 12.394 20.24C11.7989 20.2517 11.2116 20.3777 10.664 20.611C10.191 20.8244 9.68573 20.9572 9.16898 21.004L9.09398 21.006ZM12.244 6.49902C12.169 6.49902 12.094 6.49902 12.019 6.49002C12.0032 6.37099 11.9949 6.25109 11.994 6.13102C12.0267 5.13216 12.4171 4.17826 13.094 3.44302C13.4723 3.0206 13.9309 2.67762 14.443 2.43402C14.9208 2.18802 15.4431 2.04012 15.979 1.99902C15.994 2.13002 15.994 2.25802 15.994 2.38002C15.9798 3.36317 15.6104 4.308 14.954 5.04002C14.3105 5.9028 13.3185 6.43689 12.244 6.49902Z" fill="#000000"/>
                    </svg>
                </div>
                    
            </div>
            <div class="signup__text">or</div>
            <form class="signup__form" action=" {% url 'signup:signup' %}" method="POST">
                {% csrf_token %}
                <div class="signup__inputParent">
                    <input name="name" type="text" id="name__signup" class="signup__input" required>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="signup__inputIcon">
                        <path d="M12 5.9C13.16 5.9 14.1 6.84 14.1 8C14.1 9.16 13.16 10.1 12 10.1C10.84 10.1 9.9 9.16 9.9 8C9.9 6.84 10.84 5.9 12 5.9ZM12 14C14.97 14 18.1 16.36 18.1 17V18.1H5.9V17C5.9 16.36 9.03 14 12 14ZM12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM12 12C9.33 12 4 14.34 4 17V20H20V17C20 14.34 14.67 12 12 12Z" fill="#8b8b8b"/>
                    </svg>
                    <label for="name__signup" class="signup__label">Name</label>

                </div>
                <div class="signup__inputParent">
                    <input  name="email" type="text" id="email__signup" class="signup__input" required>
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="signup__inputIcon">
                        <path d="M22 4H2.01L2 20H22V4ZM20 18H4V8L12 13L20 8V18ZM12 11L4 6H20L12 11Z" fill="#8b8b8b"/>
                    </svg>
                    <label for="email__signup" class="signup__label">Email</label>
                </div>
                <div class="signup__inputParent">
                    <input  name="password" type="text" id="password__signup" class="signup__input" required>
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="signup__inputIcon">
                        <path d="M12.5 17C13.8063 17 14.875 16.1 14.875 15C14.875 13.9 13.8063 13 12.5 13C11.1937 13 10.125 13.9 10.125 15C10.125 16.1 11.1937 17 12.5 17ZM19.625 8H18.4375V6C18.4375 3.24 15.7775 1 12.5 1C9.2225 1 6.5625 3.24 6.5625 6V8H5.375C4.06875 8 3 8.9 3 10V20C3 21.1 4.06875 22 5.375 22H19.625C20.9313 22 22 21.1 22 20V10C22 8.9 20.9313 8 19.625 8ZM8.81875 6C8.81875 4.29 10.4694 2.9 12.5 2.9C14.5306 2.9 16.1813 4.29 16.1813 6V8H8.81875V6ZM19.625 20H5.375V10H19.625V20Z" fill="#8b8b8b"/>
                    </svg>
                    <label for="password__signup" class="signup__label">Password</label>
                </div>
                <small class="signup__passwordMin">By creating an account, you agree to our <a href="!#">Terms and Conditions</a> and <a href="!#">Privacy Policy</a></small>
                <button class="signup__btn">
                    Join Now 
                    <div class="signup__btnArrow">
                        <svg width="14" height="12" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L14 14L2 26" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </button>
                <small class="signup__gotoMobile">Already joined GeniuSparkle? <span>Log In</span></small>
            </form>
        </div>
       
    </div>
    <div class="goto">
        <div class="goto__one">
            <h2 class="goto__titleOne">Hello, Friend!</h2>
            <p class="goto__subtitleOne">Enter your personal details <br/> and start journey with us</p>
        </div>
        <div class="goto__two">
            <h2 class="goto__titleTwo">Welcome Back!</h2>
            <p class="goto__subtitleTwo">To keep connected with us please <br/> login with your personal info.</p>
        </div>
        <button class="goto__btn">Join Now</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js" integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'signup/js/script.js' %}"></script>
</body>
</html>