{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup/css/verify.css' %}">
    <title>Email Verficitaion</title>
</head>

<body>
    <div class="email container">
        <svg width="200" height="100" viewBox="0 0 159 71" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="email__img">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M49.691 9.6395C49.6388 5.22153 53.178 1.59778 57.596 1.54562L149.918 0.455647C154.336 0.403488 157.96 3.94268 158.012 8.36065L158.638 61.357C158.69 65.7749 155.151 69.3987 150.733 69.4508L58.4106 70.5408C53.9926 70.593 50.3688 67.0538 50.3167 62.6358L49.691 9.6395ZM57.244 13.7457C56.637 14.8897 56.2999 16.1977 56.3162 17.5838L56.7648 55.5769C56.7797 56.8384 57.0858 58.0283 57.6185 59.0833L87 35.0001L57.244 13.7457ZM65.4455 63.4749L144.488 62.5417C145.127 62.5342 145.747 62.4521 146.34 62.3038L114 39.0001L108 44.0001C105.6 46.0001 102.333 44.8334 101 44.0001L95 39.0001L65.4455 63.4749ZM152.123 56.614C152.308 55.9238 152.402 55.1973 152.393 54.4478L151.945 16.4548C151.927 14.9618 151.502 13.5691 150.775 12.3814L121.5 34.0001L152.123 56.614ZM141.392 8.57886L64.5814 9.4857L104.5 35.5001L141.392 8.57886Z"
                fill="#077EFF" />
            <rect x="17" y="19" width="17" height="9" rx="3" fill="#077EFF" />
            <rect y="41" width="16" height="9" rx="3" fill="#077EFF" />
            <rect x="17" y="56" width="23" height="10" rx="3" fill="#077EFF" />
        </svg>
        <h1 class="email__title">Verify your email</h1>
        <p class="email__detail">We sent an email to yourmail@domain.com.<br /> Just click on the verification link or
            enter the 5 digit code</p>
        <form class="email__digitCode" action="{% url 'signup:verify_number_link' uidb64=uidb64 %}" method="POST">
            {% csrf_token %}
            <div class="email__code">
                <input name="digit1" type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    class="email__codeInput" maxlength="1">
                <input name="digit2" type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    class="email__codeInput" maxlength="1">
                <input name="digit3" type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    class="email__codeInput" maxlength="1">
                <input name="digit4" type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    class="email__codeInput" maxlength="1">
                <input name="digit5" type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    class="email__codeInput" maxlength="1">
            </div>
            <input type="submit" value="Confirm" class="email__codeBtn">
        </form>
        <form class="email__digitCode" action="{% url 'signup:resend_number' uidb64=uidb64 %}" method="POST">
            {% csrf_token %}
            <small class="email__resend">Didn't receive code ? <input type="submit" value="Resend Code"></small>
        </form>
    </div>
    <script src=" {% static 'signup/js/verify.js' %} "></script>
</body>

</html>